* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Baloo Chettan 2";
    user-select: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background-color: #59BE29;
}

::placeholder {
    color: #c4c4c4;
}

.wrap {
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.microwave-phone {
    width: 800px;
    height: 450px;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    background-image: url(./Images/microwave.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.microwave-phone .imager-part {
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.microwave-phone .button-part {
    width: 200px;
    height: 100%;

    cursor: pointer;
}

.microwave-phone .imager-part img {
    width: 30%;
    border-radius: 50%;
    position: relative;


}

.notification {
    width: 30%;
    height: 20%;
    position: fixed;
    background: #bd4f4b;
    background: linear-gradient(135deg, rgba(189, 79, 75, 1) 0%, rgba(218, 75, 70, 1) 50%, rgba(242, 118, 114, 1) 100%);
    border: 5px solid rgb(163, 40, 40);
    top: -20%;
    border-radius: 0 0 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    transition: 0.3s;

    p {
        font-size: 50px;
        font-weight: 600;
        color: #fff;
    }
}

.emailDiv {
    width: 50%;
    height: 50%;
    position: fixed;
    left: 50%;
    top: 60%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    overflow: hidden;
    border: 5px solid #20bd7b;
    transition: 0.3s;
}

.emailMain {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.inputDiv {
    width: 60%;
    height: 100%;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1696937525057-efcb5dbc84e3?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDExfHx8ZW58MHx8fHx8);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    box-shadow: inset 0 0 60px 30px rgb(0, 0, 0);
    animation-name: Shake;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;

    input {
        border-radius: 10px;
        width: 70%;
        height: 15%;
        border: 5px solid #20bd7b;
        background-color: #4a885f;
        outline: none;
        padding: 20px;
        font-size: 30px;
        font-weight: 400;
        color: #fff;
        transition: 0.3s ease-in-out;
    }

    input:focus {
        width: 80%;
        border: 5px solid #2f7cd4;
        background-color: #4a6788;
        transform: scale(1.08);
    }

    button {
        width: 50%;
        height: 20%;
        background-color: #49d879;
        border-radius: 10px;
        color: #fff;
        border: 5px solid #98fcb9;
        font-size: 40px;
        cursor: pointer;
        font-weight: 500;
        transition: 0.2s;
    }

    button:hover {
        transform: scale(1.1);
        filter: brightness(1.1);
    }

    button:active {
        transform: scale(0.8);
        background-color: #49a4d8;
        border: 5px solid #94c0f1;
    }
}

.profileDiv {
    width: 40%;
    height: 100%;
    background-color: #d6d6d6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    position: relative;
}

.profilePicture {
    width: 70%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    filter: drop-shadow(#61a840 0 0 30px);
    z-index: 2;
    box-shadow: inset 0 0 10px 10px #61a840;
    transition: 0.5s;
    background-image: url(https://cdn-icons-png.flaticon.com/256/3985/3985429.png);
}

.backgroundPicture {
    width: 110%;
    aspect-ratio: 1/1;
    position: absolute;
    background-size: contain;
    background-position: center;
    z-index: 1;
    background-repeat: no-repeat;
    background-image: url(https://png.pngtree.com/png-vector/20240129/ourmid/pngtree-mixed-fruit-circular-border-png-image_11559675.png);
}

.emailHeader {
    width: 100%;
    height: 15%;
    background-color: #8adf62;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    border-bottom: 5px solid #49d879;

    button {
        cursor: pointer;
        height: 80%;
        aspect-ratio: 1/1;
        border: none;
        background-color: rgb(247, 85, 85);
        color: #fff;
        border-radius: 7px;
        font-size: 30px;
        font-weight: 500;
        transition: 0.2s;
        box-shadow: inset 0 10px 20px 5px rgba(101, 101, 101, 0.3);
    }

    button:hover {
        background-color: rgb(255, 73, 73);
        filter: drop-shadow(rgb(255, 73, 73) 0 0 2px);
        transform: scale(1.1);
    }

    button:active {
        background-color: rgb(160, 8, 8);
        filter: drop-shadow(rgb(255, 73, 73) 0 0 0);
        transform: scale(0.8);
    }
}

.header {
    width: 100%;
    height: 10vh;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #f7f7f7;
    border-bottom: 5px solid #f9f9f9;
}

.logo {
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #59BE29;
    font-size: 40px;
    font-weight: 700;
}

.nav {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    transition: 0.2s;
    font-size: 30px;
}

.sectionContainer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #888;
    transition: 0.3s;
    cursor: pointer;
}

.sectionContainer:hover {
    color: #333;

    .underLineNav {
        width: 100%;
    }
}

.sectionContainer:active {
    transform: scale(0.6);

    .underLineNav {
        width: 100%;
    }
}

.underLineNav {
    width: 0;
    height: 3px;
    background-color: rgb(119, 179, 28);
    border-radius: 3px;
    transition: 0.3s;
}

.btnDesign {
    width: 150px;
    height: 50px;
    border-radius: 10px 40px;
    border: none;
    font-size: 20px;
    background-color: #59BE29;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: #dbdbdb 6px 6px 10px;
    box-shadow: inset 0 10px 20px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign1 {
    width: 150px;
    height: 50px;
    border-radius: 10px 40px;
    border: none;
    font-size: 20px;
    background-color: #59BE29;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: #dbdbdb 6px 6px 10px;
    box-shadow: 0 5px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign2 {
    width: 150px;
    height: 50px;
    border-radius: 10px 40px;
    border: 1px solid rgb(89, 190, 41, 0.3);
    font-size: 20px;
    background-color: #fff;
    color: #59BE29;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 5px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign3 {
    width: 150px;
    height: 50px;
    border-radius: 10px 40px;
    border: none;
    font-size: 20px;
    background-color: #ff5b50;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: #dbdbdb 6px 6px 10px;
    box-shadow: 0 5px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign:hover {
    transform: scale(1.15);
    filter: brightness(1.1);
    box-shadow: inset 0 10px 20px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign:active {
    border-radius: 10px 40px;
    font-size: 20px;
    transform: scale(0.8);
    filter: brightness(0.8);
    box-shadow: inset 0 10px 20px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign1:hover {
    transform: scale(1.15);
    filter: brightness(1.1);
    box-shadow: 0 10px 20px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign1:active {
    border-radius: 10px 40px;
    font-size: 20px;
    transform: scale(0.8);
    filter: brightness(0.8);
    box-shadow: 0 0 0 0 rgba(101, 101, 101, 0.2);
}

.btnDesign2:hover {
    transform: scale(1.15);
    filter: brightness(1.1);
    box-shadow: 0 10px 20px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign2:active {
    border-radius: 10px 40px;
    font-size: 20px;
    transform: scale(0.8);
    filter: brightness(0.8);
    box-shadow: 0 0 0 0 rgba(101, 101, 101, 0.2);
}

.btnDesign3:hover {
    transform: scale(1.15);
    filter: brightness(1.1);
    box-shadow: 0 10px 20px 5px rgba(101, 101, 101, 0.2);
}

.btnDesign3:active {
    border-radius: 10px 40px;
    font-size: 20px;
    transform: scale(0.8);
    filter: brightness(0.8);
    box-shadow: 0 0 0 0 rgba(101, 101, 101, 0.2);
}

.page1 {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    margin-top: 10vh;
}

.left1 {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.right1 {
    width: 60%;
    height: 100%;
    background-image: url(Images/Background1.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.leftTextDiv {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.leftBtnsDiv {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.text1 {
    font-size: 35px;
    color: #333;
    font-weight: 500;

}

.text2 {
    font-size: 100px;
    color: #59BE29;
    font-weight: 700;
}

.text3 {
    color: #0A1902;
    font-size: 25px;
    font-weight: 100;
}

.notLogInDiv {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logInDivTrue {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.headerBtnDiv {
    width: 20%;
    height: 100%;
}

.profilePictureHeader {
    height: 60%;
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}

.page2 {
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
}

.right2 {
    width: 60%;
    height: 100%;
    flex-direction: column;
}

.left2 {
    width: 40%;
    height: 100%;
    background-image: url(Images/Background2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.topTextRight2 {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}

.reviewDiv {
    width: 100%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
}

.review {
    width: 40%;
    height: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.circleText {
    height: 40%;
    aspect-ratio: 1/1;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 30px;
    box-shadow: 2px 5px 20px #c0c0c0;
    color: #82CD5E;
    font-weight: 600;
}

.textDivReview {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #82CD5E;
}

.underlineReview {
    width: 100%;
    height: 3px;
    background-color: #82CD5E;
    border-radius: 1px;
}

.underText {
    font-size: 25px;
    font-weight: 100;
    color: #0A1902;
}

.countText {
    font-size: 60px;
    font-weight: 500;
    color: #82CD5E;
}

.Title2 {
    font-size: 50px;
    font-weight: 700;
}

.inf2 {
    font-size: 30px;
    font-weight: 100;
    color: #333;
}

.page3 {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: row;
}

.left3 {
    width: 60%;
    height: 100%;
}

.right3 {
    width: 40%;
    height: 100%;
}

.review2 {
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.titleText {
    font-size: 30px;
    font-weight: 500;
    color: #333;
}

.underText2 {
    font-size: 20px;
    font-weight: 500;
    color: #777;
}

.Title3 {
    font-size: 50px;
    font-weight: 600;
    color: #333;
}

.inf3 {
    font-size: 20px;
    color: #777;
}

.page4 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapDiv {
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.line1 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.line2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.fruitDiv {
    width: 33%;
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.call {
    position: fixed;
    top: 50%;
    width: 22%;
    aspect-ratio: 1/1.3;
    background-color: #333;
    border-radius: 20px;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.btnDiv {
    width: 100%;
    height: 20%;
    background-color: rgb(46, 46, 46);
}

.phoneProfile {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    p {
        color: #fff;
        font-size: 50px;
        font-weight: 500;
    }
}

.profilePhonePicture {
    width: 45%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: contain;
    background-image: url(Images/Sashko.png);
    border-radius: 50%;
    animation-name: dance;
    animation-timing-function: ease;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

#fruit1 {
    background-image: url(Images/Fruit1.png);
}

#fruit2 {
    background-image: url(Images/Fruit2.png);
}

#fruit3 {
    background-image: url(Images/Fruit3.png);
}

#fruit4 {
    background-image: url(Images/Fruit\ 4.png);
}

#fruit5 {
    background-image: url(Images/Fruit\ 5.png);
}

#fruit6 {
    background-image: url(Images/Fruit\ 6.png);
}

@keyframes Shake {
    0% {
        background-position: 0 0;
    }

    10% {
        background-position: 5px 10px;
    }

    20% {
        background-position: 10px 20px;
    }

    30% {
        background-position: 12px 18px;
    }

    40% {
        background-position: 15px 30px;
    }

    50% {
        background-position: 10px 18px;
    }

    60% {
        background-position: 6px 13px;
    }

    70% {
        background-position: 10px 18px;
    }

    80% {
        background-position: 13px 24px;
    }

    90% {
        background-position: 10px 5px;
    }

    0% {
        background-position: 0 0;
    }
}

@keyframes dance {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.7);
    }

    100% {
        transform: scale(1);
    }
}